<footer>
  <div class="row footer-wrapper">
    <div class="col-md-8 footer-div">
      <p class="copyright text-muted small">Copyright &copy; 2012-2015 Trantect All Rights Reserved</p>
    </div>
    <div class="col-md-4 footer-div">
      <ul class="list-inline">
        <li>
          <a href="#home">Home</a>
        </li>
        <li class="footer-menu-divider"> |</li>
        <li>
          <a href="#about">About</a>
        </li>
        <li class="footer-menu-divider"> |</li>
        <li>
          <a href="#services">Services</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
